.product {
    width: 320px;
    height: 380px;
    background-color: #FFFCC8;
    border: 2px solid black;
    border-radius: 8px;
    text-align: center;
    position: relative;
}

.title {
    margin-top: 10px;
    margin-bottom: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.price {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

.prodImage {
    max-height: 50%;
    max-width: 80%;
}

input {
    border-radius: 4px;
    border: 1px solid black;
    text-align: center;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 75px;
}

.addCart {
    position: absolute;
    right: 10px;
    bottom: 5px;
    background-color: #FFD300;
    border: 1px solid black;
    border-radius: 4px;
    font-family: 'Arvo', sans-serif;
}

.added {
    position: absolute;
    right: 10px;
    bottom: 5px;
    background-color: #01982c;
    border: 1px solid black;
    border-radius: 4px;
    font-family: 'Arvo', sans-serif;
}

.addCart:hover {
    cursor: pointer;
    background-color: #66C4FF;
}