@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400&family=Poppins:wght@200;400;500&display=swap');

#title {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 4rem;
    text-align: center;
    
}

.heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
}

.text {
    font-family: 'Arvo', serif;
    font-weight: 700;
    max-width: 500px;
    text-align: center;
    margin: 10px auto 0 auto;
    font-size: 16px;
}

.photo {
    display: block;
    margin: 0 auto;
    width: 500px;
    border: 5px solid white;
    border-radius: 6px;
    box-shadow: 2px 2px 5px black;
}