.navbar {
    display: flex;
    background-color: lightslategray;
    height: 60px;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.link {
    color: white;
    text-decoration: none;
    font-size: 25px;
}

.link:hover {
    color: #FFFCC8;
}

img:hover {
    cursor: pointer;
}

#cartSection {
    display: flex;
    flex-direction: row;
    flex: 0;
    align-items: center;
    color: white;
}

#totalItems {
    margin-left: 5px;
}